#top {
  max-width: $maxwidth;
  margin-left: auto;
  margin-right: auto;
  .navpath{
    display: none;
  }
}

.header {
  max-width: $maxwidth;
  margin-left: auto;
  margin-right: auto;
  background-color: $filllight;
  border-bottom: 1px solid $maincolor;

  .headertitle {
    padding: 5px 5px 5px 10px;
    .title {
      font-size: 1.6em;
      font-weight: bold;
      margin: 10px 2px;
      .ingroups {
        font-size: 0.6em;
        width: 50%;
        text-align: left;
        a {
          white-space: nowrap;
        }
     }
    }
  }
}

.contents {
  max-width: $maxwidth;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.footer {
  max-width: $maxwidth;
  margin-left: auto;
  margin-right: auto;
}